@charset "UTF-8";

@media screen and (min-width: 481px) {
    header {
        background-color: gray;
        color: white;
        padding: 10px;
    
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
    }
    
    header > h1 {
        border: 1px dotted black;
        font-size: 2em;
        flex: 0 0 200px;
        padding: 10px;
        
    }
    
    nav {
        border: 1px dotted black;
    
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-end;
        
    }
    
    nav > a {
        background-color: black;
        color: white;
        padding: 10px;
        margin: 2px;
        border-radius: 5px;
        text-decoration: none;
        text-align: center;
    }
    
    nav > a:hover {
        background-color: white;
        color: black;
        transition: background-color 0.5s;
    }
    
    main {
        background-color: white;
        margin: 10px;
        padding: 10px;
        border-radius: 10px;
        box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.404);
    }
    
    main > h2 {
        font-size: 1.3em;
        padding: 10px;
    }
    
} 